.description {
  @include onDesktop {
    width: 498px;
  }
  &__title {
    margin-bottom: 16px;

    @include blue-Typography;
  }

  &__subtitle {
    @include secondary-Typography;

    &:last-child {
      font-weight: 700;
    }
  }
}
