.gallery {
  &__title {
    margin-bottom: 29px;

    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include onDesktop {
      gap: 40px;
    }
  }
}
