.home {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--burger-menu {
      justify-content: start;
      gap: 75px;

      @include onDesktop {
        gap: 411px;
      }
    }
  }

  &__link {
    position: relative;

    display: flex;
    align-items: center;

    @include onDesktop {
      &--phone {
        &::before {
          position: absolute;
          transform: translateX(calc(-100% - 16px));

          width: max-content;

          content: "+1 234 555-55-55";

          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 2px;

          color: $color-white;

          opacity: 0;

          pointer-events: none;

          transition: opacity 250ms;
        }

        &:hover::before {
          opacity: 1;

          pointer-events: all;
        }
      }
    }

    &--none {
      display: none;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    @include onDesktop {
      width: 34px;
      height: 34px;
    }

    &--logo {
      height: 48px;
      width: 82px;

      @include onDesktop {
        width: 130px;
        height: 80px;
      }
    }
  }
}
