.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__item {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: $color-white;
  }
}
